@import '../../styles/variable.scss';

.main-screen {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 200px;
    grid-gap: 15px;
    color: #fff;
    animation: MainScreen 1.5s ease;
    &__count, &__info, &__button {
        padding: 30px;
        background: $main-color;
        box-shadow: 4px 6px 10px 1px rgba(0, 0, 0, .35);
        border-radius: 20px;
    }
    &__count {
        font-weight: 900;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: count 2s ease;
    }
    &__info {
        font-weight: 500;
        animation: info 2s ease;
    }
    &__button {
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 20px;
        cursor: pointer;
        border: none;
        font-weight: 900;
        font-size: 30px;
        color: #fff;
        background: $second-color;
        transition: .15s filter ease-in-out, .05s transform ease-in-out;
        user-select: none;
        &:hover {
            filter: brightness(.9)
        }
        &:active {
            transform: translateY(-2px);
        }
    }
}

@keyframes MainScreen {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes count {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes info {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}